<form id="review_form" action="/update_advert/<%= ad_details.id %>" method="post" enctype="multipart/form-data">
    <div style="float: right; font-size: 20px !important;" class="medium-12 large-12">
        <button type="button" class="advert_image addImage"><i class="fa fa-camera-retro"></i> Add Image</button>
        <input type="file" name="adverts[]" class="adverts" id="adverts" style="display: none" multiple/>
    </div>
    <div class="grid-x grid-margin-x" style="margin: 50px 40px auto">
        <label class="update_label">Advert Title:</label> <input placeholder="Title" class="box_2"
                                                                 name="title"
                                                                 value="<%= ad_details.get("title") %>" class="advert_title">

        <input type="text" name="is_title_change" id="is_title_change" hidden>

        <label class="update_label">AD Description:</label> <input placeholder="Local Name" class="box_2"
                                                                   name="description"
                                                                   value="<%= ad_details.get("description") %>">
        <input type="text" name="is_description_change" id="is_description_change" hidden>

        <label class="update_label">Category:</label>
        <input placeholder="https://google.com/ads"
               name="link" class="box_2"
               value="<%= ad_details.get("link") %>">
        <input type="text" name="is_link_change" id="is_link_change" hidden>
        <div class="medium-12 large-12">
            <% if (ad_images.length === 0) { %>

            <% } else { %>
            <% ad_images.forEach(function(item, index) { %>


                <img class="btn_pack_icon" src="<%= item.get("uri").url() %>">

            <% }); %>
            <% } %>

        </div>
        <div style="color: #a46580" class="heading medium-12 large-12" hidden>You are adding the following images as Advert Images: </div>
        <div id="selectedFiles" class="medium-12 large-12"></div>
    </div>


    <div class="medium-12 large-12 cell">
        <center>
            <a href="/advert_details/<%= ad_details.id %>" class="cancel_btn">Cancel</a>
            <button type="button" class="cancel_btn delbtn" data-id="<%= ad_details.id %>"
                    value="<%= ad_details.id %>">Delete
            </button>
            <button class="update" type="submit">Update</button>
        </center>
    </div>
</form>

