<form id="review_form" action="/advert/edit/<%= ad_details.id %>" method="post" enctype="multipart/form-data">

    <div class="grid-x grid-margin-x" style="margin: 50px 40px auto">
        <label class="update_label">Advert Title:</label> <input placeholder="Title" class="box_2 advert_title"
                                                                 name="title"
                                                                 value="<%= ad_details.get("title") %>">

        <label class="update_label">AD Description:</label> <input placeholder="Local Name"
                                                                   class="box_2 advert_description"
                                                                   name="description"
                                                                   value="<%= ad_details.get("description") %>">

        <input type="hidden" name="projectId" value="<%= projectItem.id %>">

        <label class="update_label">Attached Ad Images:</label>
        <div class="medium-12 large-12">

            <% if (ad_images.length < 0) { %>

            <p class="none"><b>No Artwork</b></p>

            <% } else { %>

            <% ad_images.forEach(function(item, index) { %>

            <img class="btn_pack_icon" src="<%= item.get("uri").url() %>">

            <%});%>
            <% } %>

            <a href="#" id="showAdImageForm" class="show_btn" style="font-size: 25px !important;color: #560c82 !important;">
                <p class="title" style="color:#af627f !important;font-weight: 800 !important;"> Add Artwork</p>
            </a>

            <%if (link) {%>
            <a href="#" onclick="linkNumber()" class="show_btn" style="font-size: 25px !important;color: #560c82 !important;">
                <p class="title" style="color:#af627f !important;font-weight: 800 !important;"> Add Links</p>
            </a>
            <%} else {%>
            <a href="#" id="showAdLinkForm" class="show_btn" style="font-size: 25px !important;color: #560c82 !important;">
                <p class="title" style="color:#af627f !important;font-weight: 800 !important;"> Add Links</p>
            </a>
            <%}%>
        </div>

    </div>


    <div class="medium-12 large-12 cell">
        <center>
            <a href="/adverts/<%= projectItem.id %>" class="cancel_btn">Back</a>
            <button class="update" type="submit">Update</button>
        </center>
    </div>
</form>
<script>
    function linkNumber() {
        var x = document.getElementById("_message")
        x.className = "show";
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
    }
</script>

