<!-- get values from initial array: should  en -->
<% if (categories.length === 0) { %>
<div class="medium-3 large-3 cell icons">
    <center>
        <p class="none" style="margin: 145px 90px auto;"><b>No Categories</b></p>
    </center>
</div>
<% } else { %>
<% categories.forEach(function(items) { %>
<div class="medium-3 large-3 cell icons">
    <table>
        <% items.forEach(function(item) { %>
        <div class="medium-12 large-12 category_div">
            <tr>
                <td>
                    <span class="category_text"> <%= item.get("name") %> </span>
                </td>
                <td>
                    <button type="button" class="catbtn_2 delbtn1" data-id="<%= item.id %>"
                            value="<%= item.get("name") %>"><img class="btnEdit"
                                                                 src="/public/assets/images/btn-delete.png"/></button>

                    <button type="button" class="catbtn editbtn1" data-id="<%= item.id %>"
                            value="<%= item.get("name") %>"><img class="btnEdit"
                                                                 src="/public/assets/images/btn-edit.png"/></button>
                </td>
            </tr>
        </div>
        <% }); %>
    </table>
</div>
<% }); %>
<% } %>

 