<!-- get values from initial array: should  en -->
<% categories.forEach(function(items) { %>
    <div class="medium-3 large-3 cell Icons">
    <table>
        <% items.forEach(function(item) { %>
            <div class="medium-12 large-12 category_div">
            <tr>
               <!-- <input type="text" id="category_text" value="<%= item.get("name") %>" disabled> -->
               <td>
                <span class="category_text"> <%= item.get("name") %> </span>
                </td>
                <td>
                    <button type="button" class="catbtn_2 delbtn1" data-id="<%= item.id %>" value="<%= item.get("name") %>"><img class="btnEdit" src="/public/assets/images/btn-delete.png" /></button>

                    <button type="button" class="catbtn editbtn1" data-id="<%= item.id %>" value="<%= item.get("name") %>"><img class="btnEdit" src="/public/assets/images/btn-edit.png" /></button>


                </td>
                </tr>
                <!-- <hr align="center" width="50%"> -->
            </div>
        <% }); %>
        </table>
    </div>
<% }); %>

 