<!-- get values from initial array: should  en -->
<% categories.forEach(function(items) { %>
    <div class="medium-3 large-3 cell Icons">
        <% items.forEach(function(item) { %>
            <div class="medium-12 large-12">
               <!-- <input type="text" id="category_text" value="<%= item.get("name") %>" disabled> -->
                <span class="category_text"><%= item.get("name") %> </span>
                <button type="button" id="editbtn1" value="<%= item.id %>"><img src="/public/assets/images/btn-edit.png" /></button>
                <button type="button" id="delbtn1" data-id="<%= item.id %>" value="<%= item.get("name") %>">REMOVE</button>
            </div>
        <% }); %>
    </div>
<% }); %>

 