<div><a class="_stickers" href="/home/<%= projectItem.id %>">Home</a></div>
<div><a class="_categories" href="/packs/<%= projectItem.id %>">Packs</a></div>
<div><a class="_stickers_packs" href="/story/members/<%= projectItem.id %>">Members</a></div>
<div><a class="_stickers_packs" href="/stories/<%= projectItem.id %>">Stories</a></div>
<div><a class="_stickers_packs" href="/categories">Categories</a></div>
<div><a class="_stickers_packs" href="/adverts/<%= projectItem.id %>">Adverts</a></div>
<div><a class="_stickers_packs" href="/products">Product IDs</a></div>
