<!-- Cards -->
<% if (contact.length === 0) { %>
<div class="medium-3 large-3 cell icons">
    <center>
        <p class="none" style="margin: 145px 90px auto;"><b>No Stickers</b></p>
    </center>
</div>

<% } else { %>
<% let counter = 0; %>
<% contact.forEach(function(item, index) { %>


<% if (item.get("read") === false){ %>
<div class="medium-3 large-3 cell icons not_read">
    <div style="margin: 20px">
    <div>
        <p class="created_at"><%= dates[counter] %> <i class="fa fa-circle" style="color: #4a90e2;float: right" aria-hidden="true"></i></p>
    </div>
    <div>
        <div class="indication">From</div>
        <p class="main_content"><%= item.get("name") %></p>
    </div>
    <div>
        <div class="indication">Type</div>
        <% if (item.get("type") === 0){ %>
        <p class="main_content"> Illustrator</p>
        <% }else if (item.get("type") === 1){ %>
        <p class="main_content">Brand</p>
        <% }else if (item.get("type") === 2){ %>
        <p class="main_content">Website</p>
        <% } %>
    </div>
    <div>
        <div class="indication">Email</div>
        <p class="main_content truncate_story_title"><%= item.get("email") %></p>
    </div>
    <a href="/single_message/<%= item.id %>" class="view_message">VIEW MESSAGE</a>
</div>
</div>
<% } else if (item.get("read") === true){%>
<div class="medium-3 large-3 cell icons read_all">
    <div style="margin: 20px">
        <div>
            <p class="created_at"><%= dates[counter] %> <i class="fa fa-circle" style="color: #c3bfb7;float: right" aria-hidden="true"></i></p>
        </div>
        <div>
            <div class="indication">From</div>
            <p class="main_content"><%= item.get("name") %></p>
        </div>
        <div>
            <div class="indication">Type</div>
            <% if (item.get("type") === 0){ %>
            <p class="main_content"> Illustrator</p>
            <% }else if (item.get("type") === 1){ %>
            <p class="main_content">Brand</p>
            <% }else if (item.get("type") === 2){ %>
            <p class="main_content">Website</p>
            <% } %>
        </div>
        <div>
            <div class="indication">Email</div>
            <p class="main_content truncate_story_title"><%= item.get("email") %></p>
        </div>
        <a href="/single_message/<%= item.id %>" class="view_message">VIEW MESSAGE</a>
    </div>
</div>
<%}%>
<% counter ++;%>
<% }); %>
<% } %>




