<!-- Cards -->
<% if (contact.length === 0) { %>
<div class="medium-3 large-3 cell icons">
    <img src="/public/assets/images/broken.png" class="gbeja_notxt">
    <div class="name_tag"><p class="sticker_name_text">No Free Stickers - Reload</p></div>
</div>

<% } else { %>
<% let counter = 0; %>
<% contact.forEach(function(item, index) { %>


<% if (item.get("read") === false){ %>
<div class="medium-3 large-3 cell icons not_read">
    <div style="margin: 20px">
    <div>
        <p class="created_at"><%= dates[counter] %> <i class="fa fa-circle" style="color: #0D47A1;float: right" aria-hidden="true"></i></p>
    </div>
    <div>
        <div class="indication">From</div>
        <p class="main_content"><%= item.get("name") %></p>
    </div>
    <div>
        <div class="indication">Type</div>
        <% if (item.get("type") === 0){ %>
        <p class="main_content"> Illustrator</p>
        <% }else if (item.get("type") === 1){ %>
        <p class="main_content">Brand</p>
        <% }else if (item.get("type") === 2){ %>
        <p class="main_content">Website</p>
        <% } %>
    </div>
    <div>
        <div class="indication">Email</div>
        <p class="main_content"><%= item.get("email") %></p>
    </div>
    <a href="/get_message/<%= item.id %>" class="view_message">VIEW MESSAGE</a>
</div>
</div>
<% } else if (item.get("read") === true){%>
<div class="medium-3 large-3 cell icons read_all">
    <div style="margin: 20px">
        <div>
            <p class="created_at"><%= dates[counter] %> <i class="fa fa-circle" style="color: #c3bfb7;float: right" aria-hidden="true"></i></p>
        </div>
        <div>
            <div class="indication">From</div>
            <p class="main_content"><%= item.get("name") %></p>
        </div>
        <div>
            <div class="indication">Type</div>
            <% if (item.get("type") === 0){ %>
            <p class="main_content"> Illustrator</p>
            <% }else if (item.get("type") === 1){ %>
            <p class="main_content">Brand</p>
            <% }else if (item.get("type") === 2){ %>
            <p class="main_content">Website</p>
            <% } %>
        </div>
        <div>
            <div class="indication">Email</div>
            <div class="main_content truncate_title"><%= item.get("email") %></div>
        </div>
        <a href="/get_message/<%= item.id %>" class="view_message">VIEW MESSAGE</a>
    </div>
</div>
<%}%>
<% counter ++;%>
<% }); %>
<% } %>




