<!--Display Collections from parse-->

<% collections.forEach(function(item, index) { %>

<div class="medium-3 large-3 cell icons">
    <a href="/pack/<%= item.id %>">
        <% if (item.get("art_work").url() === "https://cyfa.s3.amazonaws.com/ecabe00312272da1100dbd3b5a6a8772_image-profile-placeholder.png"){ %>
        <img style="width: 255px;margin-left: 30px;" src="<%= item.get("art_work").url() %>">
        <div><p class="pack_name_text"><%= item.get("pack_name") %></p></div>
        <% } else {%>
            <center>
                <img src="<%= latestSticker.url() %>" style="height: 250px">
            </center>
            <div class="name_tag"><p class="pack_name_text"><%= stickerName %></p></div>
        <%}%>
    </a>

</div>

<% }); %>
