<form id="detailsForm" action="/pack/edit/<%= pack_details.id %>" enctype="multipart/form-data" method="post">
    <div class="grid-x grid-margin-x">
        <div class="medium-6 large-5 cell">
            <div class="droppableArea">
                <div class="output" name="tfile"></div>
                <% if (pack_details.get("artwork") === "undefined" || pack_details.get("artwork") === undefined){ %>
                <center>
                    <p class="none"><b>No Artwork</b></p>
                </center>
                <% } else { %>

                <img class="pack_artwork" id="im1" name="im1" src="<%= pack_details.get("artwork").url() %>">

                <% } %>
            </div>
            <br>
            <% if (projectId.get("projectId") === ""){ %>
            <a href="#" id="selectProductId" style="color: #0f9d58 !important;" class="preview">Attach Project ID &nbsp;<i class="material-icons">touch_app</i></a>
            <% } %>
        </div>
        <div class="medium-6 large-6 cell">
            <label class="update_label">Pack Name:</label>
            <% if (pack_details.get("published") === false){ %>
            <input placeholder="Pack Name" class="box_2" name="pack_name"
                   value="<%= pack_details.get("name") %>" style="margin-bottom: 35px !important;">
            <% } else if (pack_details.get("published") === true){ %>
            <input placeholder="Pack Name" class="box_2" name="pack_name"
                   value="<%= pack_details.get("name") %>" disabled style="margin-bottom: 35px !important;">
            <% } %>

            <!--if new img has been uploaded, set value to true-->
            <input type="hidden" id="imgChange" name="imgChange" value="false">

            <label class="update_label">Pack Decsription:</label>
            <textarea class="box_2 validate" name="description" required="" aria-required="true"
                      style="margin-bottom: 35px !important;"><%= pack_details.get("description") %>
            </textarea><br>
            <label for="keyword" style="color: #a46580 !important;">Seperate Tags with comma (,)</label>
            <input type="text" class="box_2 validate" value="<%= pack_details.get("keywords") %>"
                   placeholder="Smile,Angry,Sad" id="keyword"
                   name="keyword" style="margin-bottom: 35px !important;"><br>

            <% if (pack_details.get("packType") === type.PACK_TYPE.grouped || pack_details.get("packType") === type.PACK_TYPE.themed){ %>
            <label for="productId" class="update_label">Add Product ID</label>
            <label for="productId" class="update_label" style="font-size: 15px !important;">
                Current ProductID Name: <i style="color: #0f9d58 !important;"><%= productDetails %></i></label>

            <% if (pack_details.get("productId") === ""){ %>
            <a href="#" id="selectProductId" style="color: #0f9d58 !important;" class="preview">Click to Choose Product
                ID</a><br><br>
            <% } %>
            <% } %>

            <label class="update_label">Version:</label>
            <input type="number" class="box_2" name="packVersion" value="<%= pack_details.get("version") %>">

            <label class="update_label">Archive:</label>
            <div style="margin-bottom: 30px">
                <% if (pack_details.get("archived") === true ){ %>
                <input name="archive" type="radio" id="archive1" checked value="1"/>
                <label for="archive1" class="_label" style="color: #a46580 !important;">Yes</label>

                <input name="archive" type="radio" id="archive2" value="0"/>
                <label for="archive2" class="_label" style="color: #a46580 !important">No</label>
                <% } else if (pack_details.get("archived") === false){ %>
                <input name="archive" type="radio" id="archive1" value="1"/>
                <label for="archive1" class="_label" style="color: #a46580 !important;">Yes</label>

                <input name="archive" type="radio" id="archive2" checked value="0"/>
                <label for="archive2" class="_label" style="color: #a46580 !important">No</label>
                <% } else { %>
                <input name="archive" type="radio" id="archive1" value="1"/>
                <label for="archive1" class="_label" style="color: #a46580 !important;">Yes</label>

                <input name="archive" type="radio" id="archive2" checked value="0"/>
                <label for="archive2" class="_label" style="color: #a46580 !important">No</label>
                <% } %>

            </div>


            <label class="update_label">Add Pack Artwork:</label>
            <input style="color: #a46580;" id="art" name="art" type="file"><br>

        </div>
        <div class="medium-12 large-12 cell">
            <center>
                <a href="/pack/<%= pack_details.id %>" class="cancel_btn">Back</a>
                <button class="update" type="submit">Update</button>
            </center>
        </div>
    </div>
</form>
