<!-- get values from initial array: should  en -->
<% if (categories.length === 0) { %>
<div class="medium-3 large-3 cell icons">
    <center>
        <p class="none"><b>No Artwork</b></p>
    </center>
    <div class="name_tag"><p class="sticker_name_text">Category Not Found - <a href="/categories"> < Back</a></p></div>

</div>
<% } else { %>

<div class="medium-9 large-9 cell category_details">
    <div class="_pack_3">
        <%= categories.get("name") %>
    </div>
    <div>
        <center>
            <button style="background-color: transparent !important;" type="button">
               <a class="sticker_name_text" href="/categories">< Back</a>
            </button>

            <button style="background-color: transparent !important;" type="button" class="editbtn1" data-id="<%= categories.id %>" value="<%= categories.get("name") %>">
                <img class="btnEdit" src="/public/assets/images/btn-edit.png" />
            </button>

            <button style="background-color: transparent !important;" type="button" class="delbtn1" data-id="<%= categories.id %>" value="<%= categories.get("name") %>">
                <img class="btnEdit" src="/public/assets/images/btn-delete.png" />
            </button>
        </center>
    </div>
</div>
<% } %>
