
<form id="tform" action="/update/<%= sticker.id %>" enctype="multipart/form-data" method="post">
    <div id="left-col">
        <div class="demo-droppable">
            <div class="output" name="tfile"></div>
            <img id="im1"  width="200"  src="<%= sticker.get("uri").url() %>">
        </div>
    </div>

    <div id="right-col">
        <input type="text" placeholder="Sticker Name" id="stname" name="stickername"
               value="<%= sticker.get("stickerName") %>">

        <input type="hidden" id="imgChange" name="imgChange">

        <input type="text" placeholder="Local Name" id="lname" name="localname"
               value="<%= sticker.get("localName") %>">

        <input type="text" placeholder="Category e.g funny, silly" id="category" name="cat"
               value="<%= sticker.get("category") %>">


        <button id="upload" type="submit">UPDATE</button>
    </div>

</form>