
<form id="tform" action="/update/<%= sticker.id %>" enctype="multipart/form-data" method="post">
    <div id="left-col">
        <div class="demo-droppable">
            <div class="output" name="tfile"></div>
            <img id="im1" name="im1" style="width: 100%; height: 100%;"  src="<%= sticker.get("uri").url() %>">
        </div>
    </div>

    <div id="right-col">
        <label>Sticker Name:</label> <input type="text" placeholder="Sticker Name" id="stname" name="stickername"
               value="<%= sticker.get("stickerName") %>">

        <!--if new img has been uploaded, set value to true-->
        <input type="hidden" id="imgChange" name="imgChange" value="false">

        <label>Local Name:</label> <input type="text" placeholder="Local Name" id="lname" name="localname"
               value="<%= sticker.get("localName") %>">

        <label>Category:</label> <input type="text" placeholder="Category e.g funny, silly" id="category" name="cat"
               value="<%= sticker.get("category") %>">
        <!--test checkbox input-->
        <input type="radio" value="Test">Test

        <div class="categoryOption">
            <button id="chooseCat" type="button"> <span id="arrow">&#9660;</span>Choose categories</button>

            <div class="categories">
                <% categories.forEach(function(item, index) { %>

                <input type="checkbox" name="cat1" value="<%= item.get("name")%>"><%= item.get("name")%><br>
                <!--<input type="checkbox" name="cat2" value="Funny">Funny<br>-->
                <!--<input type="checkbox" name="cat3" value="Crazy">Crazy<br>-->

                <% }); %>
            </div>
        </div>

        <button id="updatebtn" type="submit">UPDATE</button>
    </div>

</form>