
<form id="detailsForm" action="/update/<%= sticker.id %>" enctype="multipart/form-data" method="post">
 
  <div class="medium-6 large-5 cell">
  <!-- <div id="rightColumn"> -->
        <div class="droppableArea">
            <div class="output" name="tfile"></div>
            <img id="im1" name="im1" style="width: 100%; height: 100%;"  src="<%= sticker.get("uri").url() %>">
        </div>
    <!-- </div> -->
  </div>
  <div class="medium-6 large-5 cell">
 <!-- <div id="leftColumn"> -->
        <label class="update_label">Sticker Name:</label> <input placeholder="Sticker Name" class="box_2" name="stickerName"
               value="<%= sticker.get("stickerName") %>">

        <!--if new img has been uploaded, set value to true-->
        <input type="hidden" id="imgChange" name="imgChange" value="false">

        <label class="update_label">Local Name:</label> <input  placeholder="Local Name" class="box_2" name="localname"
               value="<%= sticker.get("localName") %>">

        <label class="update_label">Category:</label> <input placeholder="Category e.g funny, silly" id="categoryInput" name="cat"
                                        value="<%= categoryNames %>" disabled>

        <div class="categoryOptions">
            <button id="btnChooseCategory" type="button"> <span id="arrow">&#9660;</span>Choose categories</button>

            <div class="categoriesList">
                <% categories.forEach(function(item) { %>
                <input type="checkbox" class="categoryOption" name="cat1[]" data-name="<%=item.get('name')%>" value="<%= item.id%>"><%= item.get("name")%>
                <% }); %>
            </div>

      <!--  </div> -->
    </div>

  
 <div class="medium-12 large-12 cell" style="margin-top:10%;">
    <center>
    <a href="/collection/<%= pack_id %>" class="cancel_2">Cancel</a>
    <button class="update" type="submit">Update</button>
    </center>
    <div>
</div>
</form>