<!--Display Collections from parse-->

<% story.forEach(function(item, index) { %>

<% _allArtwork.forEach(function (art, index) { %>

<% if (art.get("object_id") === item.id){%>
<div class="medium-3 large-3 cell icons">
    <a href="/story_details/<%= item.id %>">

        <center>
        <img class="btn_pack_icon" src="<%= arts.get("sticker").url()%>" style="height: 200px;width: 250px;">
        </center>
        <div class="story_title truncate_story_title"><%= item.get("title") %></div>
        <div class="story_summary truncate_summary"> <%= item.get("summary") %></div>
    </a>

    <a href="/story_catalogue/<%= item.id%>">
        <button class="create_button review_tab_bottom add_catalogue" style="background: transparent !important;">
            <p class="title" style="color:#af627f !important;font-weight: 800 !important;"> Add Story Item</p>
        </button>
    </a>
</div>
<%}%>
<% }); %>
<% }); %>
