<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story - G-Stickers</title>

    <% include ../../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!--parse js-->

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript" src="/public/assets/js/jscolor-2.0.5/jscolor.js"></script>

    <script>
        window.onload = function () {
            document.getElementById("submit_story").onclick = function () {
                document.getElementById("story_form").submit();
            }
        }
    </script>
</head>

<body class="primary-background-color">
<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <!-- End of logo -->
    <span class="medium-6 large-6 welcome_post"><b>Edit Story Item Details</b></span>

    <div class="grid-x grid-margin-x">

        <form class="story_form" id="story_form" action="/storyitem/<%= story_item.id %>" method="post">
            <div class="medium-5 large-5 cell">

                <% if (story_item.get("type") === 0 || story_item.get("type") === 2 || story_item.get("type") === 6
                        || story_item.get("type") === 5 || story_item.get("type") === 8 || story_item.get("type") === 11
                        || story_item.get("type") === 12) { %>

                <div class="create_new">Contents</div>

                <div style="margin: 20px 15px auto;">

                <textarea class="validate" placeholder="Content"
                          name="content" required=""
                          aria-required="true"><%= story_item.get("contents").text %></textarea><br>
                <input name="id" value="<%= story_id %>" hidden>
                <input name="type" value="<%= story_item.get("type") %>" hidden>

                </div>
                <% } else if (story_item.get("type") === 9){ %>
                <div class="create_new">Heading</div>

                <div style="margin: 20px 15px auto;">

                <b style="color: black">Heading:</b>
                <input class="validate" placeholder="Content" name="heading"
                       value="<%= story_item.get("contents").heading %>" required="" aria-required="true">
                <textarea class="validate" placeholder="Content"
                          name="content" required=""
                          aria-required="true"><%= story_item.get("contents").text %></textarea><br>
                </div>
                <input name="id" value="<%= story_id %>" hidden>
                <input name="type" value="<%= story_item.get("type") %>" hidden>

                <% } else if (story_item.get("type") === 10){ %>
                <div class="create_new">Lists</div>

                <% let arraySize = story_item.get("contents").text.length %>
                <div style="margin: 20px 15px auto;">

                <% for (let i = 0; i < arraySize; i++){ %>
                <input class="validate" placeholder="Content" name="content[]"
                       value="<%= story_item.get("contents").text[i] %>" required="" aria-required="true">
                <% } %>
                </div>
                <input name="id" value="<%= story_id %>" hidden>
                <input name="type" value="<%= story_item.get("type") %>" hidden>

                <% } else if (story_item.get("type") === 13){ %>
                <div class="create_new">HTML Items</div>

                <div style="margin: 20px 15px auto;">
                <% var html = story_item.get("contents").html %>
                <% for (let i = 0; i < html.length; i++) { %>
                <% let _html = html[i]; %>
                <% let type = Object.keys(_html); %>
                <% let content = Object.values(_html)[0]; %>
                    <input name="id" value="<%= story_id %>" hidden>
                    <input name="type" value="<%= story_item.get("type") %>" hidden>
                <% if (parseInt(type) === 0){ %>

                <input class="validate" placeholder="Content" name="htmlText" value="<%= content.text %>"
                       required="" aria-required="true">
                    <input name="index[]" value="<%= i %>" hidden>

                <% } else if (parseInt(type) === 5){ %>

                    <input class="validate" placeholder="Content" name="htmlText" value="<%= content.text %>"
                           required="" aria-required="true">
                    <input name="index[]" value="<%= i %>" hidden>
                <% } else if (parseInt(type) === 6){ %>

                    <input class="validate" placeholder="Content" name="htmlText" value="<%= content.text %>"
                           required="" aria-required="true">
                    <input name="index[]" value="<%= i %>" hidden>

                <% } else if (parseInt(type) === 8){ %>

                    <input class="validate" placeholder="Content" name="htmlText" value="<%= content.text %>"
                           required="" aria-required="true">
                    <input name="index[]" value="<%= i %>" hidden>

                <% } else if (parseInt(type) === 14){ %>

                    <b style="color: black">Heading:</b>
                    <input class="validate" placeholder="Text" name="htmlContent" value="<%= content.text %>"
                           required="" aria-required="true">
                    <b style="color: black">Color:</b>
                    <input class="validate" placeholder="Color" id="htmlColor" name="text" value="<%= content.color %>"
                           required="" aria-required="true">
                    <button id="color_button" style="width: 7% !important;z-index: 1;" class="jscolor {valueElement: 'htmlColor'}"></button><br>

                    <input name="index[]" value="<%= i %>" hidden>

                <% } %>

                <% } %>
                </div>
                <input name="id" value="<%= story_id %>" hidden>
                <input name="type" value="<%= story_item.get("type") %>" hidden>
                <% } %>
                <!--<button type="submit" class="waves-effect pink darken-4 btn add-image-btn">SAVE</button>-->
            </div>
            <a href="#" id="submit_story" class="waves-effect pink darken-4 btn add-image-btn">SAVE</a>
        </form>
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <div><a class="_stickers" href="/home">Home</a></div>
                <div><a class="_categories" href="/packs">Packs</a></div>
                <div><a class="_stickers_packs" href="/reviews">Reviews</a></div>
                <div><a class="_stickers_packs" href="/stories">Stories</a></div>
                <div><a class="_stickers_packs" href="/categories">Categories</a></div>
                <div><a class="_stickers_packs" href="/adverts">Adverts</a></div>
            </div>
        </div>

        <%- include('../../partials/footer') %>

    </div>
</div>

<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
<script src="/public/assets/js/wyciwyg.js"></script>
</body>
</html>