<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story Item - G-Stickers</title>

    <% include ../../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="/public/assets/css/evol-colorpicker.min.css" rel="stylesheet" type="text/css">

    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="/public/assets/js/evol-colorpicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/public/assets/js/jscolor-2.0.5/jscolor.js"></script>

    <style>
        <% include ../../partials/modified_css.ejs %>
        .evo-palette, .evo-pop {
            background-color: white !important;
        }
    </style>
    <script>

        $(function () {
            let scntDiv = $('#lists');
            let i = $('#lists p').size() + 1;

            $("#addList").click(function (event) {
                // $('#addScnt').live('click', function() {
                $('<p><label for="p_scnts"><input class="_pack common_pack_detail validate" placeholder="Add Text" type="text" id="list" name="content[]"></label> </p>').appendTo(scntDiv);
                i++;
                return false;
            });
        });

        $(function () {
            $("#color_value").colorpicker();
            $("#color_value1").colorpicker();
        })

        counter = function () {
            let value = $('.element').val();

            if (value.length === 0) {

                $('.wordCount').html(0);
                return;

            } else {
                let regex = /\s+/gi;
                let wordCount = value.trim().replace(regex, ' ').split(' ').length;
                $('.wordCount').html(wordCount);
            }
        };

        $(document).ready(function () {

            $('.element').change(counter);
            $('.element').keypress(counter);
            $('.element').keydown(counter);
            $('.element').keyup(counter);
            $('.element').blur(counter);
            $('.element').focus(counter);

        });
    </script>
</head>

<body class="primary-background-color">

<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <!-- End of logo-->

    <div id="pageMask"></div>
    <div id="hiddenTextCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW TEXT
                </div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-text-width" style="color: white; font-size: 3rem" aria-hidden="true"></i><br><br>
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount"><%= storyType %></span><br/>
                </center>
                <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                        || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                <div class="row" style="width: 450px !important;">
                    <select class="input-field validate" name="character" required="" aria-required="true">
                        <option value="" disabled selected>&nbsp;Select Character</option>
                        <option value="admin">Administrator</option>
                        <% if (chatMembers.length === 0) { %>

                        <% } else { %>
                        <% chatMembers.forEach(function(items) { %>
                        <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                        <% }) %>
                        <% } %>
                    </select>
                </div>
                <%}%>
                <input name="style" value="<%= type.STORY_ITEM.text %>" hidden>
                <span>
        <button type="submit" class="create">CREATE</button>
        </span>
                <span>
        <button type="button" id="btnCloseCatalogue" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenSourceCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW SOURCE
                </div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post" style="padding: 5px;">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-key" style="color: white; font-size: 3rem" aria-hidden="true"></i><br><br>
                    <input class="_pack common_pack_detail validate" placeholder="Add Name" type="text" name="author">
                    <input class="_pack common_pack_detail validate" placeholder="Add Description" type="text"
                           name="description">
                    <input class="_pack common_pack_detail validate" placeholder="Add Link" type="text" name="link">
                </center>
                <input name="style" value="<%= type.STORY_ITEM.source %>" hidden>
                <span>
        <button type="submit" class="create">CREATE</button>
        </span>
                <span>
        <button type="button" id="btnCloseSourceCatalogue" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>


    <div id="hiddenLinkCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW LINK
                </div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post" style="padding: 5px;">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">
                    <i class="fa fa-link" style="color: white; font-size: 3rem" aria-hidden="true"></i><br><br>
                    <input class="_pack common_pack_detail validate" placeholder="Add Name" type="text" name="author">
                    <input class="_pack common_pack_detail validate" placeholder="Add Link" type="text" name="url">

                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>
                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>
                <input name="style" value="<%= type.STORY_ITEM.link %>" hidden>
                <span>
        <button type="submit" class="create">CREATE</button>
        </span>
                <span>
        <button type="button" id="btnCloseLinkCatalogue" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>


    <div id="hiddenBColorCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW BACKGROUND
                    COLOUR
                </div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post" style="padding: 5px;">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-paint-brush" style="color: white; font-size: 3rem" aria-hidden="true"></i><br>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="colorFormat" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Color Format</option>
                            <option value="<%= type.FORMAT_TYPE.regular %>">REGULAR</option>
                            <option value="<%= type.FORMAT_TYPE.gradient %>">GRADIENT</option>
                        </select>
                    </div>
                    <br>
                    <label class="update_label" style="width: 450px;color: white !important;">Select Top Color:</label>
                    <div style=" margin:0px 15px auto;">
                        <input style="width:100px;" id="color_value" name="topColor" value="#0f9d58"/>

                        <div id="cpEvent1" class="demoPanel" style="width: 170px;"></div>
                    </div>
                    <br>
                    <label class="update_label" style="width: 450px;color: white !important;">Select Bottom
                        Color:</label>
                    <div style=" margin:0px 15px auto;">
                        <input style="width:100px;" id="color_value1" name="bottomColor" value="#814ea4"/>

                        <div id="cpEvent1" class="demoPanel" style="width: 170px;"></div>
                    </div>
                </center>
                <input name="style" value="<%= type.STORY_ITEM.backgroundColor %>" hidden>
                <span>
        <button type="submit" class="create">CREATE</button>
        </span>
                <span>
        <button type="button" id="btnCloseBColorCatalogue" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>


    <div id="hiddenQuoteCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW QUOTES</div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-quote-left" style="color: white; font-size: 3rem" aria-hidden="true"></i>&nbsp;&nbsp;
                    <i class="fa fa-quote-right" style="color: white; font-size: 3rem" aria-hidden="true"></i><br><br>
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount">0</span><br/>
                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>
                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>
                <input name="style" value="<%= type.STORY_ITEM.quote %>" hidden>
                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseQuoteCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenItalicCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW ITALIC</div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-italic" style="color: white; font-size: 3rem" aria-hidden="true"></i>
                    <br><br>
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount">0</span><br/>
                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>
                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>

                <input name="style" value="<%= type.STORY_ITEM.italic %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseItalicCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenBoldCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW BOLD</div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-bold" style="color: white; font-size: 3rem" aria-hidden="true"></i>
                    <br><br>
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount">0</span><br/>
                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>
                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>

                <input name="style" value="<%= type.STORY_ITEM.bold %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseBoldCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>


    <div id="hiddenHeadingCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW HEADING</div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-list" style="color: white; font-size: 5rem" aria-hidden="true"></i>
                    <br><br>
                    <input class="_pack common_pack_detail validate" placeholder="Add Heading" type="text" required=""
                           name="heading">
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount">0</span><br/>
                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>

                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>

                <input name="style" value="<%= type.STORY_ITEM.heading %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseHeadingCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenGreyAreaCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW GREY AREA
                </div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-list" style="color: white; font-size: 5rem" aria-hidden="true"></i>
                    <br><br>
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount">0</span><br/>
                </center>

                <input name="style" value="<%= type.STORY_ITEM.greyArea %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseGreyAreaCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>


    <div id="hiddenSideNoteCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW SIDE NOTE
                </div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-sticky-note-o" style="color: white; font-size: 3rem" aria-hidden="true"></i>

                    <br><br>
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount">0</span><br/>
                </center>

                <input name="style" value="<%= type.STORY_ITEM.sideNote %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseSideNoteCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenBoldItalicsCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW BOLD &
                    ITALIC
                </div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-bold" style="color: white; font-size: 3rem" aria-hidden="true"></i>
                    <i class="fa fa-italic" style="color: white; font-size: 3rem" aria-hidden="true"></i>
                    <br><br>
                    <textarea class="_pack common_pack_detail validate element" placeholder="Add Text"
                              name="content" required="" aria-required="true"></textarea><br>
                    Words: <span class="wordCount">0</span><br/>
                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>
                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>

                <input name="style" value="<%= type.STORY_ITEM.italicBold %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseItalicBoldCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenListCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW LIST</div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-list" style="color: white; font-size: 5rem" aria-hidden="true"></i>
                    <br><br>
                    <div id="lists" style="margin: 50px 130px;">
                        <p>
                            <input class="_pack common_pack_detail validate" placeholder="Add Text" type="text"
                                   id="list" required="" name="content[]">
                            <a href="#" id="addList"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        </p>
                    </div><br>
                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>
                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>

                <input name="style" value="<%= type.STORY_ITEM.list %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseListCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenDividerCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD NEW DIVIDER</div>
            </center>
            <form id="pack_form" action="/storyItem/type/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <img class="review_tab" src="/public/assets/images/divider.png">
                </center>
                <input name="content" value=" " hidden>

                <input name="style" value="<%= type.STORY_ITEM.divider %>" hidden>

                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseDividerCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <div id="hiddenImageCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD IMAGE</div>
            </center>
            <form id="pack_form" action="/storyItem/image/<%= story_id %>" method="post"
                  enctype="multipart/form-data">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <div class="file-field input-field">
                        <div class="btn">
                            <span><i class="fa fa-file-o"></i></span>
                            <input type="file" name="im1">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <br>
                    <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                            || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                    <div class="row" style="width: 450px !important;">
                        <select class="input-field validate" name="character" required="" aria-required="true">
                            <option value="" disabled selected>&nbsp;Select Character</option>
                            <option value="admin">Administrator</option>
                            <% if (chatMembers.length === 0) { %>

                            <% } else { %>
                            <% chatMembers.forEach(function(items) { %>
                            <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <%}%>
                </center>
                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseImgCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>

    </div>

    <div id="hiddenStickerCatalouge" class="hidden_forms" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">ADD STICKER</div>
            </center>
            <form id="pack_form" action="/storyitem/sticker/<%= story_id %>" method="post">
                <center>
                    <input type="hidden" name="projectId" value="<%= projectItem.id %>">
                    <input type="hidden" name="source" value="<%= source %>">

                    <i class="fa fa-picture-o" style="color: white; font-size: 7rem;margin-bottom: 20px"
                       aria-hidden="true"></i>
                       <% if (storyType === type.STORY_TYPE.chat_single || storyType === type.STORY_TYPE.chat_single_episode
                               || storyType === type.STORY_TYPE.chat_group || storyType === type.STORY_TYPE.chat_group_episode) {%>
                       <div class="row" style="width: 450px !important;">
                           <select class="input-field validate" name="character" required="" aria-required="true">
                               <option value="" disabled selected>&nbsp;Select Character</option>
                               <option value="admin">Administrator</option>
                               <% if (chatMembers.length === 0) { %>

                               <% } else { %>
                               <% chatMembers.forEach(function(items) { %>
                               <option value="<%= items.id %>"><%= items.get("profile").content.name %></option>
                               <% }) %>
                               <% } %>
                           </select>
                       </div>
                       <%}%>
                </center>
                <input name="style" value="sticker" hidden>
                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                <span>
        <button type="button" id="btnCloseStickerCatalouge" class="cancel">Cancel</button>
         </span>

            </form>
        </div>

    </div>

    <span class="medium-12 large-12 welcome_post" id="pack_id"><b>Story Items - <i class="welcome_post"
                                                                                   style="color: #a46580"><%= name %></i></b></span>

    <div class="grid-x grid-margin-x" id="opaqueDiv">
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <% include ../../partials/menu.ejs %>

                <% if (source === "episode") {%>

                <div style="margin-top: 25px;">
                    <a class="_stickers_packs" href="/episodes/view/<%= mainStoryId %>/<%= projectItem.id %>">Back</a>
                </div>

                <%} else {%>

                <div style="margin-top: 25px;">
                    <a class="_stickers_packs" href="/storyedit/<%= story_id %>/<%= projectItem.id %>">Back</a>
                </div>

                <%}%>
            </div>
        </div>

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">Story Details</div>

            <a href="/story/view/<%= story_id %>/<%= projectItem.id %>">
                <button class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Show All
                    </p>
                </button>
            </a>

            <% if (source === "episode") {%>
            <a href="/episode/edit/<%= story_id %>/<%= projectItem.id %>">
                <button class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Edit Episode Details
                    </p>
                </button>
            </a>
            <% if (storyType === type.STORY_TYPE.chat_single_episode || storyType === type.STORY_TYPE.chat_group_episode) {%>
            <a target="_blank" href="/preview/chats/<%= mainStoryId %>/<%= projectItem.id %>">
                <button class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Previews Episode</p>
                </button>
            </a>
            <%} else {%>
              <a target="_blank" href="/newsletter/episode/<%= story_id %>/<%= projectItem.id %>">
                  <button class="create_button">
                      <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Preview Episode</p>
                  </button>
              </a>
              <%}%>
            <%}%>

        </div>

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">Create New</div>

            <button class="create_button text_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Text
                </p>
            </button>

            <button class="create_button image_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Image</p>
            </button>

            <button class="create_button quote_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Quote</p>
            </button>

            <button class="create_button italic_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Italic</p>
            </button>

            <button class="create_button list_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;List</p>
            </button>

        </div>

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">Create New</div>

            <button class="create_button sticker_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Sticker</p>
            </button>

            <button class="create_button divider_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Divider</p>
            </button>

            <button class="create_button bold_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Bold</p>
            </button>

            <button class="create_button italicBold_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Italic Bold</p>
            </button>

            <button class="create_button heading_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Heading</p>
            </button>
        </div>


        <div class="medium-3 large-3 cell icons">
            <div class="create_new">Create New</div>

            <button class="create_button sideNote_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Side Note</p>
            </button>

            <button class="create_button greyArea_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Grey Area</p>
            </button>

            <button class="create_button source_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Source</p>
            </button>

            <button class="create_button link_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Link</p>
            </button>

            <a href="/storyItem/html/new/<%= source %>/<%= story_id %>/<%= projectItem.id %>">
                <button class="create_button" style="background-color: #0f9d58 !important;">
                    <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;HTML
                    </p>
                </button>
            </a>
        </div>

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">Create New</div>
            <button class="create_button bcolor_element">
                <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;Background Color</p>
            </button>
        </div>


        <%- include('../../partials/footer') %>
    </div>
</div>

<!-- Body -->

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!-- Compiled and minified JavaScript -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
</body>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script src="/public/assets/js/tag.js"></script>
</html>
