<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story Items - G-Stickers</title>

    <% include ../../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">

    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/assets/js/jscolor-2.0.5/jscolor.js"></script>
    <script src="/public/assets/js/custom.js"></script>
    <script src="/public/assets/js/tag.js"></script>
    <script>
        function formSubmit() {
            document.getElementById("removeForm").submit();
        }

    </script>
</head>

<body class="primary-background-color">
<div class="grid-container">

    <!-- Logo -->
    <div class="medium-12 large-12" id="logo">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>

    <!-- End of logo -->
    <div id="pageMask"></div>

    <div class="remove_story_item" style="display: none">
        <div class="medium-3 large-3 cell create_background" style="height: 320px !important;">
            <div class="edit_labels medium-12 large-12">ARE YOU SURE?</div>
            <form method="post" id="removeForm" action="/storyitem/delete/<%= story_id %>">

                <input name="storyItem" class="storyItem" hidden>
                <a href="#" id="cancel_remove" class="edit_labels" style="margin: 200px !important;">
                    NO
                </a>
                <a href="#" class="edit_labels" onclick="formSubmit()" id="submit_remove">
                    YES
                </a>
            </form>

        </div>
    </div>
    <!-- Start of hidden form -->
    <div id="hiddenChangeType" style="display: none">
        <div class="medium-3 large-3 cell create_background" style="height: 320px !important;">
            <div class="edit_labels medium-12 large-12">CHANGE STORY TYPE</div>

            <form id="type_form" action="/storyitem/change/<%= story_id %>" method="post"
                  enctype="multipart/form-data">
                <center>
                    <input name="storyItemId" class="storyItemId" hidden>
                    <input name="previousContent" class="content" hidden>
                    <input name="storyItemType" class="storyItemType" hidden>
                    <input type="text" class="_pack common_pack_detail validate common" placeholder="Story Item Content"
                           name="text_element" required="" aria-required="true" hidden><br>
                    <center class="image" hidden>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span><i class="fa fa-file-o"></i></span>
                                <input type="file" name="im1">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <br>
                    </center>
                    <center class="image_divider" hidden>
                        <img style="margin-top: -120px;" src="/public/assets/images/divider.png">
                    </center>
                    <center class="sticker" hidden>
                        <i class="fa fa-picture-o"
                           style="color: #590a5d; font-size: 7rem;margin-bottom: 20px; margin-top: -50px"
                           aria-hidden="true"></i>
                    </center>

                    <div style="width: 450px !important;">
                        <select name="type" required="" id="stickerSelect">
                            <option value="" disabled selected>Choose new Type</option>
                            <option value="0">TEXT</option>
                            <option value="1">IMAGE</option>
                            <option value="2">QUOTE</option>
                            <option value="3">STICKER</option>
                            <option value="4">DIVIDER</option>
                            <option value="5">ITALIC</option>
                            <option value="6">BOLD</option>
                            <option value="8">BOLD & ITALIC</option>
                        </select>
                    </div>
                    <script>
                        $("#stickerSelect").change(function () {

                            let value = $('#stickerSelect').val();
                            $(".storyItemType").val(value);
                            // $(".common").html($(this).attr("data-name"));

                            if (value === "0" || value === "2" || value === "5" || value === "6" || value === "8") {
                                $('.common').removeAttr('hidden');
                                $('.image').attr("hidden", "hidden");
                                $('.image_divider').attr("hidden", "hidden");
                                $('.sticker').attr("hidden", "hidden");
                            } else if (value === "1") {
                                $('.image').removeAttr('hidden');
                                $('.common').attr("hidden", "hidden");
                                $('.image_divider').attr("hidden", "hidden");
                                $('.sticker').attr("hidden", "hidden");

                            } else if (value === "4") {
                                $('.image_divider').removeAttr('hidden');
                                $('.common').attr("hidden", "hidden");
                                $('.image').attr("hidden", "hidden");
                                $('.sticker').attr("hidden", "hidden");

                            } else if (value === "3") {
                                $('.sticker').removeAttr('hidden');
                                $('.common').attr("hidden", "hidden");
                                $('.image').attr("hidden", "hidden");
                                $('.image_divider').attr("hidden", "hidden");
                            }
                        });

                    </script>
                </center>
            </form>
        </div>
        <span>
        <button type="submit" id="btnSubmitStoryItem" style="margin-top: 20px;" class="create">CHANGE</button>
        </span>
        <span>
        <button type="button" id="btn_cancelChangeType" style="margin-top: 20px;" class="cancel">Cancel</button>
         </span>
    </div>
    <span class="medium-6 large-6 welcome_post"><b>Edit Story Details</b></span>

    <div class="grid-x grid-margin-x story">
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <div><a class="_stickers" href="/home">Home</a></div>
                <div><a class="_categories" href="/packs">Packs</a></div>
                <div><a class="_stickers_packs" href="/reviews">Reviews</a></div>
                <div><a class="_stickers_packs" href="/stories">Stories</a></div>
                <div><a class="_stickers_packs" href="/categories">Categories</a></div>
                <div><a class="_stickers_packs" href="/adverts">Adverts</a></div>
                <div><a class="_stickers_packs" href="/products">Product IDs</a></div>


                <div style="margin-top: 60px;"><a class="_stickers_packs" href="/storyitem/<%= story_id %>">Add
                        Story Item</a></div>
            </div>
        </div>

        <div class="story_form">
            <div class="medium-5 large-5 cell">

                <% if (story_item.length === 0) { %>
                <p class="none" style="margin: 100px 300px auto;"><b>No Story Item</b></p>
                <% } else { %>
                <% let stickerCounter = 0 %>

                <% story_item.forEach(function(item, index) { %>

                <% if (item.get("type") === 0){ %>
                <textarea class="box_2 validate" placeholder="Review description"
                          name="review_text" required="" aria-required="true"
                          disabled><%= item.get("contents").text %></textarea>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Text</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="0" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>
                <% } else if (item.get("type") === 1){ %>

                <img src="<%= item.get("contents").uri %>" class="gbeja_notxt">
                <a href="#" class="preview change" data-content="1" data-name="" data-id="<%= item.id %>">Change
                    Type</a>
                <a href="#" data-id="<%= item.id %>" style="margin-left: 5px;color: #cc0000 !important;"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>

                <% } else if (item.get("type") === 2){ %>

                <i class="fa fa-quote-left" style="color: #a46580; font-size: 1rem" aria-hidden="true"></i>
                <b style="color: #a46580; font-size: 20px"><%= item.get("contents").text %></b>
                <i class="fa fa-quote-right" style="color: #a46580; font-size: 1rem" aria-hidden="true"></i><br>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Quote</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="2" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change
                    Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a>
                <br><br><br>
                <% } else if (item.get("type") === 3){ %>
                <% if (stickers.length > 0){ %>

                <img src="<%= stickers[stickerCounter].get("uri").url() %>" class="gbeja_notxt">
                <a href="#" class="preview change" data-content="3" data-name="" data-id="<%= item.id %>">Change
                    Type/Replace Sticker</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>

                <% stickerCounter++ %>

                <% } %>

                <% } else if (item.get("type") === 5){ %>
                <!--<div class="someCSSClass">fontAwesomeQuote <h2></h2> fontAwesomeQuote</div>-->
                <textarea class="box_2 validate" placeholder="Review description"
                          name="review_text" required=""
                          aria-required="true" disabled><%= item.get("contents").text %></textarea>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Italic</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="5" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change
                    Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>

                <% }else if (item.get("type") === 6){ %>
                <textarea class="box_2 validate" placeholder="Review description"
                          name="review_text" required=""
                          aria-required="true" disabled><%= item.get("contents").text %></textarea>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Bold</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="6" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>

                <% }else if (item.get("type") === 8){ %>
                <b style="color: #a46580; font-size: 20px"><i><%= item.get("contents").text %></i></b><br><br>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit ItalicBold</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="8" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>

                <% } else if (item.get("type") === 9){ %>
                <b style="color: black">Heading:</b><b
                        style="color: #a46580; font-size: 20px"><%= item.get("contents").heading %></b><br>
                <b style="color: black">Text:</b><b
                        style="color: #a46580; font-size: 20px"><%= item.get("contents").text %></b><br><br>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Heading</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="8" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>

                <% } else if (item.get("type") === 10){ %>

                <ul>
                    <% let arraySize = item.get("contents").list.length %>
                    <% for (let i = 0; i < arraySize; i++){ %>
                    <li> <%= item.get("contents").list[i] %></li>
                    <% } %>

                </ul>

                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit List</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="8" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>

                <% } else if (item.get("type") === 11){ %>
                <textarea class="box_2 validate" placeholder="Side Note"
                          name="review_text" required=""
                          aria-required="true" disabled><%= item.get("contents").text %></textarea>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Side Note</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="8" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>
                <% } else if (item.get("type") === 12){ %>
                <textarea class="box_2 validate" placeholder="Side Note"
                          name="review_text" required=""
                          aria-required="true" disabled><%= JSON.stringify(item.get("contents").text) %></textarea>
                <a href="/storyitem/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Grey Area</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="8" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>
                <% } else if (item.get("type") === 13){ %>

                <% var html = item.get("contents").html %>
                <% if (html.length > 0){ %>
                <% for (let i = 0; i < html.length; i++) { %>
                <% let _html = html[i]; %>
                <% let type = Object.keys(_html); %>
                <% let content = Object.values(_html)[0]; %>

                <% if (parseInt(type) === 0){ %>

                <span><%= content.text %></span>

                <% } else if (parseInt(type) === 5){ %>

                <span><i><%= content.text %></i></span>

                <% } else if (parseInt(type) === 6){ %>

                <span><b><%= content.text %></b></span>

                <% } else if (parseInt(type) === 8){ %>

                <span><i><b><%= content.text %></b></i></span>

                <% } else if (parseInt(type) === 14){ %>

                <span style="color: <%= content.color %>"> <%= content.text %></span>

                <% } %>

                <% } %>
                <br>
                <a href="/storyitem/html/edit/<%= item.id %>/<%= story_id %>" class="preview">Edit Html</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-content="8" data-name="<%= item.get("contents") %>"
                   data-id="<%= item.id %>">Change Type</a>
                <a href="#" data-id="<%= item.id %>" style="color: #cc0000 !important;margin-left: 5px"
                   class="preview remove_items">
                    Delete<i class="fa fa-trash" style="color: #cc0000;font-size: 15px; margin-left: 5px !important;"
                             aria-hidden="true"></i>
                </a><br><br><br>
                <% } %>
                <% } %>
                <% }) %>
                <% } %>

                <a href="/storyitem/<%= story_id %>" class="preview">Back</a>&nbsp;&nbsp;

            </div>
        </div>
    </div>
    <div id="foot">
        <%- include('../../partials/footer') %>

    </div>

</div>

<!-- Body -->

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!-- Compiled and minified JavaScript -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
<script>

    $(".remove_items").click(function () {
        $('.storyItem').val($(this).attr("data-id"));
    });

    $(".change").click(function () {

        $(".storyItemId").val($(this).attr("data-id"));

        $('.common').val($(this).attr("data-name"));

        $('.content').val($(this).attr("data-content"));
    });
</script>
</body>
</html>