<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pack Details - G-Stickers</title>

    <% include ../../partials/fav.ejs %>
    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/assets/js/custom.js"></script>
    <script src="/public/assets/js/tag.js"></script>

</head>

<body class="primary-background-color">
<div id="pageMask"></div>
<div id="projectId" style="display: none">
    <div class="medium-3 large-3 cell create_background">
        <div class="edit_labels medium-12 large-12">
            ADD THIS PACK TO A PROJECT?<br>
            <span style="font-size: 18px;font-weight: 700;letter-spacing: 2px;">This action can be done carried out once!!</span>
        </div>
        <form action="/pack/project/update" method="post" id="pack_form">
            <div class="row" style="width: 400px !important;">
                <select class="input-field validate" name="productId">
                    <option value="" disabled selected>&nbsp;Add Project ID</option>
                    <option value="free">FREE</option>
                    <% if (projectId.length === 0) { %>

                    <% } else { %>
                    <% projectId.forEach(function(items) { %>
                    <option value="<%= items.id %>"><%= items.get("name") %></option>
                    <% }) %>
                    <% } %>
                </select>
            </div>
            <input name="packId" value="<%= pack_details.id %>" hidden>

            <span>
                    <button type="submit" class="create">SUBMIT</button>
                </span>
            <span>
                    <button type="button" id="cancelProjectId" class="cancel">Cancel</button>
                </span>

        </form>
    </div>
</div>

<div id="productId" style="display: none">
    <div class="medium-3 large-3 cell create_background">
        <div class="edit_labels medium-12 large-12">
            MAKE THIS PACK FREE OR PAID?<br>
            <span style="font-size: 18px;font-weight: 700;letter-spacing: 2px;">This action can be done carried out once!!</span>
        </div>
        <form action="/pack/product/update" method="post" id="pack_form">
            <div class="row" style="width: 400px !important;">
                <select class="input-field validate" name="productId">
                    <option value="" disabled selected>&nbsp;Add Product ID</option>
                    <option value="free">FREE</option>
                    <% if (productId.length === 0) { %>

                    <% } else { %>
                    <% productId.forEach(function(items) { %>
                    <option value="<%= items.id %>"><%= items.get("name") %></option>
                    <% }) %>
                    <% } %>
                </select>
            </div>
            <input name="packId" value="<%= pack_details.id %>" hidden>

            <span>
                    <button type="submit" class="create">SUBMIT</button>
                </span>
            <span>
                    <button type="button" id="cancelProductId" class="cancel">Cancel</button>
                </span>

        </form>
    </div>
</div>
<div class="grid-container">
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <div id="pageMask"></div>
    <center>
        <span class="medium-12 large-12 welcome_post" id="pack_id"><b>Edit <i style="color: #a46580"><%= pack_details.get("name") %></i> Pack</b></span>
    </center>

    <% include ../../partials/pack_details %>

</div>
</body>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/fileup.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
</html>