<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pack Collection - G-Stickers</title>

    <% include ../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("toast_message")
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }

        function not_approved() {
            var x = document.getElementById("not_approved")
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    </script>
</head>

<body class="primary-background-color" onload="myFunction()">
<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <!-- End of logo -->
    <span class="medium-12 large-12 welcome_post"><b><%= collectionName %> Sticker Pack</b></span>
    <div class="grid-x grid-margin-x">

        <div id="not_approved">
            THIS PACK HAS NOT BEEN APPROVED. THUS YOU CAN NOT PUBLISH
        </div>
        <!-- Card for displaying navigation links-->
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <div><a class="_stickers" href="/home">Home</a></div>
                <div><a class="_stickers" href="/categories">Categories</a></div>
                <br><br>

                <div><a class="_stickers" href="/review/<%= id %>">Review Pack</a></div>
            </div>
        </div>

        <div class="medium-3 large-3 cell icons">
            <% if (art === "undefined" || art === undefined){ %>
            <center>
                <p class="none" style="margin: 145px 90px auto;"><b>No Artwork</b></p>
            </center>

            <%}else {%>
            <img class="pack_artwork" src="<%= art.url() %>">
            <%}%>
            <a href="/edit_pack_details/<%= id %>">
                <button class="create_button pack_edit_button">
                    <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp;EDIT PACK</p>
                </button>
            </a>
        </div>
        <!-- End of card-->

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">New Sticker</div>
            <div class="options">Options</div>
            <a href="/add_stickers/<%= id %>/<%= collectionName %>">
                <button class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp; From Computer
                    </p>
                </button>
            </a>

            <a href="/upload_page/<%= id %>/<%= collectionName %>">
                <button class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp; Dropbox Upload
                    </p>
                </button>
            </a>

        </div>

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">
                Status
                <%if (status === 0){%>
                <i class="fa fa-circle" id="circle" style="color: grey;float: right;font-size: 15px;" aria-hidden="true"></i>
                <%} else if (status === 1){%>
                <i class="fa fa-circle" id="circle" style="color: yellow;float: right;font-size: 15px;" aria-hidden="true"></i>

                <%} else if(status === 2){%>
                <i class="fa fa-circle" id="circle" style="color: #0f9d58;float: right;font-size: 15px;" aria-hidden="true"></i>

                <%} else if(status === 3){%>
                <i class="fa fa-circle" id="circle" style="color: red;float: right;font-size: 15px;" aria-hidden="true"></i>

                <%}%>
            </div>

            <% if (status === 0 && stickers.length !== 0){ %>

            <a href="/send_for_review/<%= id %>">
                <button class="create_button">
                    <p class="title" style="font-size: 15px !important;">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp; SUBMIT FOR
                        REVIEW
                    </p>
                </button>
            </a>

            <% } %>

            <button class="create_button" style="background-color: #f1f1f1 !important;" disabled>
                <p class="title button_font">&nbsp; <i class="fa fa-circle size" style="color: yellow" aria-hidden="true"></i> &nbsp; IN REVIEW
                </p>
            </button>

            <button class="create_button" style="background-color: #f1f1f1 !important;" disabled>
                <p class="title button_font">&nbsp; <i class="fa fa-circle size" style="color: red" aria-hidden="true"></i> &nbsp; REJECTED
                </p>
            </button>

            <button class="create_button" style="background-color: #f1f1f1 !important;" disabled>
                <p class="title button_font">&nbsp; <i class="fa fa-circle size" style="color: #0f9d58" aria-hidden="true"></i> &nbsp;APPROVED
                </p>
            </button>

        </div>

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">
                Publishing
                <%if (published === false){%>
                <i class="fa fa-circle" id="circle" style="color: yellow;float: right;font-size: 15px;" aria-hidden="true"></i>
                <%} else if (published === true){%>
                <i class="fa fa-circle" id="circle" style="color: #0f9d58;float: right;font-size: 15px;" aria-hidden="true"></i>
                <%}%>
            </div>

            <% if (status === 2){ %>

            <a href="/publish_pack/<%= id %>">
                <button class="create_button">
                    <p class="title" style="font-size: 15px !important;">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp; PUBLISH
                    </p>
                </button>
            </a>

            <% } else {%>
            <a onclick="not_approved()">
                <button class="create_button">
                    <p class="title" style="font-size: 15px !important;">&nbsp; <i class="fa fa-circle size" aria-hidden="true"></i> &nbsp; PUBLISH
                    </p>
                </button>
            </a>
            <%}%>

            <button class="create_button" style="background-color: #f1f1f1 !important;" disabled>
                <p class="title button_font">&nbsp; <i class="fa fa-circle size" style="color: yellow" aria-hidden="true"></i> &nbsp; UNPUBLISHED
                </p>
            </button>

            <button class="create_button" style="background-color: #f1f1f1 !important;" disabled>
                <p class="title button_font">&nbsp; <i class="fa fa-circle size" style="color: #0f9d58" aria-hidden="true"></i> &nbsp; PUBLISHED
                </p>
            </button>
        </div>

        <!-- End of card -->

        <% include ../partials/sticker_cards %>
        <%- include('../partials/footer') %>
        <div id="toast_message">When Uploading ensure there's stable connection.<br>
            If after uploading you can't see the images, just give it time..
        </div>

    </div>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>

</body>


</html>