<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feedback - G-Stickers</title>

    <% include ../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script>

        $(document).ready(function () {
            let next = document.getElementsByClassName("next");
            let index = $(this).attr("data-current");

            next[index].onclick = function () {
                let newId = $(this).attr("data-id");
                alert(newId);
                document.getElementById(newId.toString()).style.display = 'block';
            }
        });

    </script>
</head>
<body class="primary-background-color">

<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12" id="logo">
        <img src="/public/assets/images/G_logo.png"
             srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
             id="logo">
    </div>
    <!-- End of logo-->

    <span class="medium-12 large-12 welcome_post" id="pack_id"><b>Chat between Kweku and Ama</b>
    </span>
    <center>
        <div class="grid-x grid-margin-x" id="opaqueDiv" style="background-color: white; width: 900px;">

            <% if (chats.length === 0){ %>

            <% } else { %>

            <% chats.forEach(function(item, index) { %>
            <% if (item.get("speaker") === 0){ %>
            <% if (index === 0){ %>
            <div id="<%= index %>" style="width: 90%; display: block">
                    <span style="float: left;">
                        <img style="width:170px;height:170px;margin-left:15px;"
                             src="https://cyfa.s3.amazonaws.com/5f2e2cbf6006b571d8eb43b9832c3ad9_wingemojip.png">
                    </span>
                <span style="float: left;min-width: 120px; min-height: 70px;text-align: center;margin: 65px 0;max-width: 250px;"
                      class="speech-bubble"><%= item.get("chat").text %>
                    <% let id = index + 1 %>
                    <a href="#" style="position: absolute;margin: 45px;" class="next" data-id="<%= id %>"
                       data-current="<%= index %>">
                        <i class="fa fa-caret-square-o-right" style="color: #0f9d58" aria-hidden="true"></i>
                    </a>
                </span>

            </div>
            <% } else { %>
            <div id="<%= index %>" style="width: 90%; display: none">
                    <span style="float: left;">
                        <img style="width:170px;height:170px;margin-left:15px;"
                             src="https://cyfa.s3.amazonaws.com/5f2e2cbf6006b571d8eb43b9832c3ad9_wingemojip.png">
                    </span>
                <span style="float: left;min-width: 120px; min-height: 70px;text-align: center;margin: 65px 0;max-width: 250px;"
                      class="speech-bubble"><%= item.get("chat").text %>
                    <% let id = index + 1 %>
                    <a href="#" style="position: absolute;margin: 45px;" class="next" data-id="<%= id %>"
                       data-current="<%= index %>">
                        <i class="fa fa-caret-square-o-right" style="color: #0f9d58" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <% } %>
            <% } else if (item.get("speaker") === 1){ %>
            <% if (index === 0){ %>
            <div id="<%= index %>" style="width: 90%;display: block">
                    <span style="float: right;">
                        <img style="width:170px;height:170px;margin-left:5px;"
                             src="https://cyfa.s3.amazonaws.com/1ae2285cd23a479185eb22e28bc31995_wingfemaleemojipn.png">
                    </span>
                <div style="float: right;min-width: 120px; min-height: 70px;text-align: center;margin: 65px 0;max-width: 250px;"
                     class="speech-bubble-right"><%= item.get("chat").text %></div>
                <% let id = index + 1 %>
                <a href="#" style="position: absolute;margin: 110px 180px" class="next" data-id="<%= id %>"
                   data-current="<%= index %>">
                    <i class="fa fa-caret-square-o-right" style="color: #0f9d58" aria-hidden="true"></i>
                </a>
            </div>
            <% }else { %>
            <div id="<%= index %>" style="width: 90%;display: none">
                    <span style="float: right;">
                        <img style="width:170px;height:170px;margin-left:5px;"
                             src="https://cyfa.s3.amazonaws.com/1ae2285cd23a479185eb22e28bc31995_wingfemaleemojipn.png">
                    </span>
                <div style="float: right;min-width: 120px; min-height: 70px;text-align: center;margin: 65px 0;max-width: 250px;"
                     class="speech-bubble-right"><%= item.get("chat").text %></div>
                <% let id = index + 1 %>
                <a href="#" style="position: absolute;margin: 110px 180px" class="next" data-id="<%= id %>"
                   data-current="<%= index %>">
                    <i class="fa fa-caret-square-o-right" style="color: #0f9d58" aria-hidden="true"></i>
                </a>
            </div>
            <% } %>
            <% } %>
            <% }) %>
            <% } %>
            <%- include('../partials/footer') %>
        </div>
    </center>
</div>
<!-- Body -->

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!-- Compiled and minified JavaScript -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>

</body>
</html>