<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Cyfa</title>

    <% include ../partials/fav.ejs %>
    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">
<% if (verified === "false") { %>
<div class="medium-12 large-12">
    <div class="verifiy_account">
        <center>
            Please verify your account. Click the <br> link proved in your email.
        </center>
    </div>
</div>
<% } %>
<div class="grid-container">
    <!-- Logo-->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>
    </div>
    <!-- End of logo-->

    <div id="pageMask"></div>
    <div id="hiddenCreateForm">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12" style="margin-bottom: 30px !important">CREATE NEW PACK</div>

                <!--<div class="chips chips-autocomplete _pack common_pack_detail" data-index="0" data-initialized="true">-->
                    <!--<input class="input" placeholder="">-->
                    <!--<ul class="autocomplete-content dropdown-content"></ul>-->
                <!--</div>-->
            </center>
            <form id="pack_form" action="/new_pack" enctype="multipart/form-data" method="post">
                <center>
                    <input type="text" class="_pack common_pack_detail validate" placeholder="Pack name"
                           name="coll_name" required="" aria-required="true"><br>
                    <textarea class="_pack common_pack_detail validate" placeholder="Pack description"
                              name="pack_description" required="" aria-required="true"></textarea><br>
                    <input type="number" class="_pack common_pack_detail validate" placeholder="Pack Version"
                           name="version" required="" aria-required="true"><br>

                    <div style="margin-bottom: 10px">
                        <input name="pricing" type="radio" id="pricing1" value="0"/>
                        <label for="pricing1" class="_label">Free</label>

                        <input name="pricing" type="radio" id="pricing2" value="1"/>
                        <label for="pricing2" class="_label">Paid</label>

                        <input name="pricing" type="radio" id="pricing3" value="2"/>
                        <label for="pricing3" class="_label">Free/Paid</label>
                    </div>
                    <br>
                    <input style="color: white;margin: 0px 130px;" id="art" name="art" type="file"><br>

                    <br>
                </center>
                <span>
        <button type="submit" class="create">CREATE</button>
        </span>
                <span>
        <button type="button" id="btnCancel" class="cancel">Cancel</button>
         </span>

            </form>
        </div>
    </div>

    <!-- A hidden form to create categories -->
    <div id="hiddenAddCatForm" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <form id="pack_form" action="/new_category" method="post">
                <center>
                    <div class="edit_labels medium-12 large-12">CREATE NEW CATEGORY</div>
                    <input type="text" class="_pack common_pack_detail validate" placeholder="Category Name"
                           name="catname" required="" aria-required="true"/>
                    <br>
                </center>
                <span>
        <button type="submit" class="create">CREATE</button>
        </span>
                <span>
        <button type="button" id="btn_cancelAddCat" class="cancel">Cancel</button>
         </span>
            </form>
        </div>
    </div>
    <!-- End of hidden form -->
    <span class="medium-12 large-12 welcome_post" id="Welcome"><b>Welcome <a href="/user_profile"
                                                                             style="font-size: 45px;color: #af627f;"> <%= user_name %> </a></b></span>
    <div class="grid-x grid-margin-x" id="opaqueDiv">
        <!-- Card to display Stats of the database-->
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Stats</div>
                <div class="_stickers"><%= stickerLength %> Stickers</div>
                <div class="_stickers_packs"><%= packLength %> Packs</div>
                <div class="_categories"><%= categoryLength %> Categories</div>
            </div>
        </div>
        <!-- End of card-->

        <!-- Card to create new packs and display existing packs-->
        <div class="medium-3 large-3 cell icons">
            <a href="#" id="showCreateForm">
                <button class="create_button">
                    <img src="/public/assets/images/icon-create-sticker-pack.png" srcset="/public/assets/images/icon-create-sticker-pack.png 2x,
             /public/assets/images/icon-create-sticker-pack.png 3x" class="icon_create_sticker">
                    <div class="create_new">CREATE NEW</div>
                </button>
            </a>
            <div class="card_head_position">
                <div class="recent_packs">Recent Packs</div>
                <%- include('../partials/home_pack') %>
            </div>
        </div>
        <!-- End of card-->

        <!-- Card to create new categories and display existing categories-->
        <div class="medium-3 large-3 cell icons">
            <a href="#" id="btnAddCategory">
                <button class="create_button">
                    <img src="/public/assets/images/icon-category.png" srcset="/public/assets/images/icon-category.png 2x,
             /public/assets/images/icon-category.png 3x" class="icon_category">
                    <div class="create_new">ADD CATEGORY</div>
                </button>
            </a>
            <div class="card_head_position">
                <div class="recent_category">Recent Category</div>
                <%- include('../partials/home_category') %>
            </div>
        </div>
        <!-- End of card-->
        <div class="medium-12 large-12 cell">
            <%- include('../partials/footer') %>
        </div>
    </div>
</div>

<!-- Compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js">
</script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>

</body>
</html>