<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pack Collection - G-Stickers</title>

    <% include ../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("toast_message")
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
</head>

<body class="primary-background-color" onload="myFunction()">
<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <!-- End of logo -->
    <span class="medium-12 large-12 welcome_post"><b><i style="color: #a46580"><%= collectionName %></i> Sticker Pack</b></span>
    <% if (status === 0 && stickers.length !== 0){ %>
    <span><a href="/send_for_review/<%= id %>" class="send_to_review"><i class="fa fa-send-o"></i> Send for Review</a></span>
    <%}%>
    <!--margin-top: 25px;margin-right: 40px;-->
    <span style="float: right;" class="send_to_review"><a href="/edit_pack_details/<%= id %>"><i class="fa  fa-pencil"></i> Edit Pack</a></span>

    <div class="grid-x grid-margin-x">
        <!-- Card for displaying navigation links-->
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <div><a class="_stickers" href="/home">Home</a></div>
                <div><a class="_categories" href="/pack_collection">Packs</a></div>
                <div><a class="_stickers" href="/review_collection">Reviews</a></div>
            </div>
        </div>
        <!-- End of card-->

        <!-- Card to allow user add stickers from dropbox of from computer-->
        <div class="medium-3 large-3 cell icons">
            <img class="_pack_icon" src="/public/assets/images/create-sticker-icon.png">
            <div><p class="new_sticker">NEW STICKER</p></div>
            <a class="from_computer" href="/add_stickers/<%= id %>/<%= collectionName %>">From Computer</a><br>
            <a class="dropbox_upload" href="/upload_page/<%= id %>/<%= collectionName %>">Dropbox Upload</a>
        </div>
    <!-- End of card -->
        <% include ../partials/sticker_cards %>
        <%- include('../partials/footer') %>
        <div id="toast_message">When Uploading ensure there's stable connection.<br>
            If after uploading you can't see the images, just give it time..</div>
    </div>
</div>
<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>

</body>


</html>