<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sticker Details - G-Stickers</title>

    <% include ../partials/fav.ejs %>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">-->
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/switch.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!--parse js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
</head>

<body class="primary-background-color">
<div class="container">

    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" style="font-weight: bold !important;" onclick="logoutUser()"><b class="font-weight-bold">LOGOUT</b></a>

    </div>
    <div id="pageMask"></div>
    <div id="deleteForm" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <center>
                <div class="edit_labels medium-12 large-12">DELETE STICKER</div>
                <img src="<%= sticker.get("uri").url() %>" style="height: 250px;margin-top: -50px;"/>
                <br>

                <span>
                 <button type="button" class="_cancel closeDelete">Cancel</button>
                </span>
                <span>
                    <a href="/delete_sticker/<%= sticker.id %>/<%= pack_id %>" class="delete_btn">Delete</a>
                </span>
            </center>

        </div>
    </div>
    <center>

        <span class="medium-12 large-12 welcome_post" id="pack_id">

            <b>Edit <i style="color: #a46580"><%= sticker.get("stickerName") %></i> Sticker</b>

        </span>

    </center>

    <center>

    <table style="margin-left: 35px !important;">
        <tr>
            <td>
                <% if (previous !== "undefined"){ %>
                <a style="color: #a46580 !important; margin-left: 10px" href="/details/<%= previous %>/<%= pack_id %>"><i class="fa fa-reply" aria-hidden="true"></i></a>
                <% } else{%>
                <a style="color: #a46580 !important; margin-left: 10px" class="isDisabled" href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>

                <%}%>
            </td>
            <td>

                <% include ../partials/sticker_details %>

            </td>

            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <% if (next !== "undefined"){ %>

                <a style="color: #a46580 !important;margin-left: -10px" href="/details/<%= next %>/<%= pack_id %>"><i class="fa fa-share" aria-hidden="true"></i></a>

                <% } else{%>
                <a style="color: #a46580 !important; margin-left: -10px" class="isDisabled" href="#"><i class="fa fa-share" aria-hidden="true"></i></a>

                <%}%>

            </td>
        </tr>
    </table>
    </center>
</div>
</body>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/fileup.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
</html>