<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story Items - G-Stickers</title>

    <% include ../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">

    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/assets/js/jscolor-2.0.5/jscolor.js"></script>
    <script src="/public/assets/js/custom.js"></script>
    <script src="/public/assets/js/tag.js"></script>

</head>

<body class="primary-background-color">
<div class="grid-container">

    <!-- Logo -->
    <div class="medium-12 large-12" id="logo">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>

    <!-- End of logo -->
    <div id="pageMask"></div>

    <!-- Start of hidden form -->
    <div id="hiddenChangeType" style="display: none">
        <div class="medium-3 large-3 cell create_background" style="height: 320px !important;">
            <div class="edit_labels medium-12 large-12">CHANGE STORY TYPE</div>


            <form id="pack_form" action="/new_category" method="post">
                <center>
                    <label>Select The Change you want</label>

                    <input name="storyItemId" class="storyItemId" hidden>
                    <input type="text" class="_pack common_pack_detail validate common" placeholder="Story Item Content"
                           name="text_element" required="" aria-required="true" hidden><br>
                    <center class="image" hidden>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span><i class="fa fa-file-o"></i></span>
                                <input type="file" name="im1">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <br>
                    </center>
                    <div style="width: 450px !important;">
                        <select name="type" required="" id="stickerSelect">
                            <option value="" disabled selected>Choose new Type</option>
                            <option value="0">TEXT</option>
                            <option value="1">IMAGE</option>
                            <option value="2">QUOTE</option>
                            <option value="3">STICKER</option>
                            <option value="4">DIVIDER</option>
                            <option value="5">ITALIC</option>
                            <option value="6">BOLD</option>
                        </select>
                    </div>

                <script>
                    $("#stickerSelect").change(function(){

                        let value = $('#stickerSelect').val();
                        if (value === "0" || value === "2" || value === "5" || value === "6"){
                            $('.common').removeAttr('hidden');
                            $('.image').attr("hidden", "hidden");
                        }else if (value === "1"){
                            $('.image').removeAttr('hidden');
                            $('.common').attr("hidden", "hidden");

                        }

                    });

                </script>
                </center>
                <span>
        <button type="submit" id="categoryBtn" style="margin-top: 20px;" class="create">CREATE</button>
        </span>
                <span>
        <button type="button" id="btn_cancelChangeType" style="margin-top: 20px;" class="cancel">Cancel</button>
         </span>
            </form>
        </div>
    </div>
    <span class="medium-6 large-6 welcome_post"><b>Edit Story Details</b></span>

    <div class="grid-x grid-margin-x story">
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <div><a class="_stickers" href="/home">Home</a></div>
                <div><a class="_categories" href="/packs">Packs</a></div>
                <div><a class="_stickers_packs" href="/review_collection">Reviews</a></div>
                <div><a class="_stickers_packs" href="/stories">Stories</a></div>
                <div><a class="_stickers_packs" href="/categories">Categories</a></div>
                <div><a class="_stickers_packs" href="/advert_collection">Adverts</a></div>

                <div style="margin-top: 60px;"><a class="_stickers_packs" href="/story_catalogue/<%= story_id %>">Add
                        Story Item</a></div>
            </div>
        </div>

        <div class="story_form">
            <div class="medium-5 large-5 cell">

                <%if (story_item.length === 0) {%>
                <p class="none" style="margin: 100px 300px auto;"><b>No Story Item</b></p>
                <%} else {%>
                <% story_item.forEach(function(item, index) { %>

                <%if (item.get("type") === 0){%>
                <textarea class="box_2 validate" placeholder="Review description"
                          name="review_text" required="" aria-required="true" disabled><%= item.get("content") %></textarea>
                <a href="/edit_story_item/<%= item.id %>/<%= story_id %>" class="preview">Edit Text</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-id="<%= item.id%>">Change Type</a><br><br><br>
                <%} else if (item.get("type") === 2){%>

                <i class="fa fa-quote-left" style="color: #a46580; font-size: 1rem" aria-hidden="true"></i>
                <b style="color: #a46580; font-size: 20px"><%= item.get("content") %></b>
                <i class="fa fa-quote-right" style="color: #a46580; font-size: 1rem" aria-hidden="true"></i><br>
                <a href="/edit_story_item/<%= item.id %>/<%= story_id %>" class="preview">Edit Quote</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-id="<%= item.id%>">Change Type</a><br><br><br>

                <%} else if (item.get("type") === 5){%>
                <!--<div class="someCSSClass">fontAwesomeQuote <h2></h2> fontAwesomeQuote</div>-->
                <textarea class="box_2 validate" placeholder="Review description"
                          name="review_text" required="" aria-required="true"><%= item.get("content") %></textarea>
                <a href="/edit_story_item/<%= item.id %>/<%= story_id %>" class="preview">Edit Italic</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-id="<%= item.id%>">Change Type</a><br><br><br>

                <%}else if (item.get("type") === 6){%>
                <textarea class="box_2 validate" placeholder="Review description"
                          name="review_text" required="" aria-required="true"><%= item.get("content") %></textarea>
                <a href="/edit_story_item/<%= item.id %>/<%= story_id %>" class="preview">Edit Bold</a>&nbsp;&nbsp;
                <a href="#" class="preview change" data-id="<%= item.id%>">Change Type</a><br><br><br>

                <%}%>
                <%})%>
                <%}%>
            </div>
        </div>
    </div>
    <div id="foot">
        <%- include('../partials/footer') %>

    </div>

</div>

<!-- Body -->

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!-- Compiled and minified JavaScript -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
</body>
</html>