<!-- Cards -->
<% if (members.length === 0) { %>

<a href="/story/members/<%= projectItem.id %>" class="medium-3 large-3 cell icons">

    <p class="none"><b>Please Create Members</b></p>

</a>

<% } else { %>
<% members.forEach(function(item, index) { %>

<div class="medium-3 large-3 cell icons" data-id="<%= item.id %>" data-name="<%= item.get("title") %>">

    <% if (item.get("profileImage") === undefined){ %>

    <p class="none"><b>No Artwork</b></p>

    <% } else { %>

    <img src="<%= item.get("profileImage").url() %>" class="card-image-size">

    <% } %>
    <span class="name_tag"><p class="sticker_name_text"><%= item.get("title") %></p></span>
</div>
<% }); %>
<% } %>




