<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Stickers - G-Stickers</title>

    <% include ../../partials/fav.ejs %>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">

<div class="grid-container">
    <!-- Logo-->
    <div class="medium-12 large-12">
        <a href="#">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>
    </div>
    <!-- End of Logo-->
    <span class="medium-12 large-12 welcome_post"><b><%= advert_name %> Advert</b></span>

    <!--Drag n Drop Form-->
    <br>
    <div class="grid-x grid-margin-x">
        <div class="medium-12 large-12 cell">
          <div id="error_message" style="color: red"></div>
            <!-- Form to add stickers from computer-->
            <form action="/uploadImgReact/upload" id="addStickersForm" enctype="multipart/form-data" method="post">
                <div class="wrapper">
                    <div class="drop">
                        <div class="cont">
                            <i class="fa fa-cloud-upload"></i>
                            <div class="tit">
                                Drag & Drop
                            </div>
                            <div class="desc">
                                your stickers here, or click to browse
                            </div>
                        </div>

                        <output id="filesList"></output>
                        <input id="files" name="advert" type="file"/>
                        <input name="userId" value="<%= userId %>" type="hidden"/>
                    </div>
                    <center style="margin-top: -50px !important;">
         <span>
        <button type="button" class="clear" id="btnClearAddForm"><a href="<%= backUrl %>"
                                                                    class="clear">Back</a></button>
      </span>
      <!-- <span style="margin-left: -30px !important;">
        <button type="button" class="clear" id="clearBtn">Clear</button>
      </span> -->
                        <span>
        <button type="submit" style="display: none" id="uploads" class="upload">Upload</button>
        </span>
                    </center>
                </div>
                <input type="hidden" name="advert_id" style="display: none" value="<%= id %>"/>
                <input type="hidden" name="backUrl" style="display: none" value="<%= backUrl %>"/>
                <input type="hidden" name="imageType" style="display: none" value="<%= action %>"/>
                <input type="hidden" name="projectId" style="display: none" value="<%= projectId %> %>"/>
            </form>
            <!-- End of form-->
            <%- include('../../partials/footer') %>
        </div>
    </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"></script>
<script src="https://npmcdn.com/parse/dist/parse.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
        data-app-key="ed8po9zwpj4pnhw"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/dropzone.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
<script type="text/javascript" src="/public/assets/js/dragndrop.js"></script>
<script>

$(document).ready(function () {

    let action = "<%= action %>";
    action = parseInt(action);

    $("#files").change(function(){
        var myImg = document.querySelector("#files");
        var currWidth = myImg.clientWidth;
        var currHeight = myImg.clientHeight;
        checkFileDimensions(currWidth,currHeight);
     });


     function checkFileDimensions(width, height){
       if (action === 3){
         if (width !== 512 && height !== 512){

           $('#error_message').html("Image for STICKER Ad does not fit the required dimensions");
           $('#addStickersForm')[0].reset();
           // $("#image_id").remove();

            $('#filesList').droppable({
              over: function(event, ui) {
                  ui.draggable.remove();
              }
            });

         }else if (width === 512 && height === 512) {
           $("#uploads").show();
         }
       }else if (action === 4) {
         if (width !== 320 && height !== 480){

           $('#error_message').html("Image for INTERSTITIAL Ad does not fit the required dimensions");
           $('#addStickersForm')[0].reset();
           // $("#image_id").remove();

            $('#filesList').droppable({
              over: function(event, ui) {
                  ui.draggable.remove();
              }
            });
         }else if (width === 320 && height === 480) {
           $("#uploads").show();
         }
       }

     }
});
</script>
</html>
